.logBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 15vh;
}

.logButton {
  background-color: #FACC15;
  color: #F43F5E;
  font-style: bold;
  font-size: 1.3em;
  align-items: center;
  width: 70vw;
  height: 5vh;
  border: none;
  border-radius: 18px;
  bottom: 0;
}

.userKey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}